/* Hero Section */
.hero {
  color: #1d6a86;
  background-color: wheat;
  position: relative;
}

.heroHeader {
  letter-spacing: 5px;
  color: #fb595e;
}
.carousel-item {
  height: 400px;
}

.carousel-item img {
  max-height: 400px;
}

.hero a {
  text-decoration: none;
}

.fa-instagram {
  color: #c13584;
}

.fa-whatsapp {
  color: #128c7e;
}

.heroWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.heroWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.heroWave .shape-fill {
  fill: #2f88a8;
}

/* Event Section */
.events {
  position: relative;
  background-color: #2f88a8;
  color: white;
}

.smallBox {
  z-index: 1;
}

.smallBox img,
.bigBox img {
  width: 100%;
  object-fit: contain;
}

.eventBlurb {
  text-align: center;
}

.eventWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.eventWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 236px;
}

.eventWave .shape-fill {
  fill: #dea5a4;
}

/* eboard section */
.eboard {
  overflow: hidden;
  background-color: #dea5a4;
}

.eCar-wrapper {
  position: relative;
}

.eboard-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.eboard-carousel::-webkit-scrollbar {
  display: none;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  width: 280px;
  flex: 0 0 auto; /*prevent card from growing or shrinking, always maintain original size*/
  margin-right: 40px; /* gap in between cards*/
  scroll-snap-align: start;
}

.eboardImg {
  width: 140px;
  height: 140px;
  border-radius: 10%;
  border: 3px solid wheat;
  margin-top: -80px;
}

.pre-btn,
.nxt-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 55%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pre-btn {
  left: 0px;
}

.nxt-btn {
  right: 0px;
}