@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 2;
  top: 0;
  border-bottom: 4px solid wheat;
}

.logo {
  height: 75px;
  width: 75px;
}

.logoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.logoContainer span {
  color: black;
}

.navMenu {
  display: flex;
  padding-top: 15px;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  text-decoration: none;
  color: black;
}

.navMenu li a:hover {
  color: #ef9273;
  transition: 0.7s ease;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.7s ease;
  background-color: black;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navMenu li {
    border-bottom: 1px solid #ef9273;
  }
  .navMenu.active {
    right: 0;
  }
}

/* Hero Section */
.hero {
  color: #1d6a86;
  background-color: wheat;
  position: relative;
}

.heroHeader {
  letter-spacing: 5px;
  color: #fb595e;
}
.carousel-item {
  height: 400px;
}

.carousel-item img {
  max-height: 400px;
}

.fa-instagram {
  color: #c13584;
}

.fa-whatsapp {
  color: #128c7e;
}

.heroWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.heroWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.heroWave .shape-fill {
  fill: #2f88a8;
}

/* Event Section */
.events {
  position: relative;
  background-color: #2f88a8;
  color: white;
}

.smallBox {
  z-index: 1;
}

.smallBox img {
  width: 100%;
  object-fit: contain;
}

.eventBlurb {
  text-align: center;
  z-index: 1;
}

.eventWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.eventWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 236px;
}

.eventWave .shape-fill {
  fill: #db8ed6;
}

/* eboard */
.eboard {
  background-color: #db8ed6;
}

/* Footer */
.footer {
  background-color: #ef9273;
  color: white;
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
