@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 2;
  top: 0;
  border-bottom: 4px solid wheat;
}

.logo {
  height: 75px;
  width: 75px;
}

.logoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  z-index: 2;
}

.logoContainer span {
  color: black;
}

.navMenu {
  display: flex;
  padding-top: 15px;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  text-decoration: none;
  color: black;
}

.navMenu li a:hover {
  color: #ef9273;
  transition: 0.7s ease;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.7s ease;
  background-color: black;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 10px;
  }

  .navMenu.active {
    right: 0;
  }
}

/* Footer */
.footer {
  background-color: wheat;
  color: #1d6a86;
  font-size: small;
  line-height: 1rem;
  padding: 0 10px;
}
